.env
node_modules
dist
*.log
npm-debug.log*
.DS_Store
.DS_Store
*.node_modules
./node_modules
./gitignore
./.env
./.gitignore
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
*.egg
*.dist-info
*.spec
*.log
*.log.*
./venv
./.env

./.gradio
gradio
gradio/
gradio/*